@import '@/style/global.less';

header {
  width: 100%;
  position: fixed;
  box-shadow: 0 4px 12px @box-shadow;
  z-index: 9999;
}

header .top_banner {
  width: 100%;
  height: 10vh;
  background: @primary-color;
  display: flex;
  align-items: center;
  position: relative;
}

header .menu_button {
  display: none;
}

header .logo {
  width: auto;
  height: 6vh;
  position: relative;
  left: 18vw;
}

header .subname {
  color: white;
  font-size: 2.5vh;
  font-weight: bold;
  position: relative;
  left: 19.5vw;
}

header .ccnu_gate {
  width: 40vw;
  height: inherit;
  position: absolute;
  right: 0;
  filter: invert(25%);
}

header nav {
  width: 100%;
  height: 5vh;
  background: @primary-color-1;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav li {
  display: inline;
}

header nav a {
  text-decoration: none;
  font-size: 1.1vw;
}

header .navbar_choice {
  height: 5vh;
  padding: 0 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  color: white;
  position: relative;
  transition: all 0.3s linear;
}
header .navbar_choice::before {
  content: '';
  width: 100%;
  height: 0;
  background-color: @primary-color-7;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
header nav li:hover .navbar_choice:hover::before {
  top: unset;
  bottom: 0;
  height: 100%;
}
header .navbar_choice_clicked {
  background-color: @primary-color-7;
}

header .highlight::before {
  top: unset;
  bottom: 0;
  height: 100%;
}

header .navbar_choice_name {
  font-weight: bold;
}

header .dropdown_list {
  position: absolute;
  box-shadow: 0 4px 12px @box-shadow;
  display: block;
}

header .dropdown_list_content {
  list-style: none;
  width: 9vw;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 1vw;
  background-color: @primary-color-3;
}

header .dropdown_list a:hover .dropdown_list_content {
  background-color: @secondary-color-7;
}

header .AiFillCaretLeft {
  display: none;
}

header .dropdown_list_content:hover .AiFillCaretLeft {
  display: block;
}

@media screen and (max-width: 768px) {
}

@media screen and (orientation: portrait) {
  header .logo {
    width: auto;
    height: 5vh;
    left: 2vw;
  }
  header .subname {
    font-size: 2vh;
    left: 4vw;
  }
  header .menu_button {
    display: block;
    background-color: transparent;
    color: white;
    font-size: 35px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1.5vw;
  }
  header nav {
    display: none;
  }
}